@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-gray-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  color: var(--dark-blue);
  margin: 0;
  width: 100%;
  text-align: center;
}

.page-container {
  overflow: hidden;
}

.page-container.mobile-menu-action::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--dark-blue)), to(transparent));
  background: linear-gradient(180deg, var(--dark-blue), transparent);
  top: 0;
  display: block;
}

h1, h2, h3 {
  font-weight: 400;
  color: var(--dark-blue);
}

p {
  color: var(--grayish-blue);
  font-size: 0.8em;
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--lime-green);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

button {
  padding: 0.8rem 2rem;
  border-style: none;
  color: var(--light-gray-blue);
  font-weight: 700;
  border-radius: 5em;
  background: -webkit-gradient(linear, right top, left top, from(var(--bright-cyan)), to(var(--lime-green)));
  background: linear-gradient(to left, var(--bright-cyan), var(--lime-green));
}

button:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%) saturate(70%);
          filter: brightness(120%) saturate(70%);
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-nav .mobile-head {
  padding: 0 1em;
  height: 3.4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .mobile-head #main-logo {
  width: 150px;
  padding-top: 5px;
}

.main-nav .mobile-head #hamburger-menu.mobile-menu-action {
  display: none;
}

.main-nav .mobile-head #close-menu {
  display: none;
}

.main-nav .mobile-head #close-menu.mobile-menu-action {
  display: block;
}

.main-nav .nav-links {
  width: 90%;
  background-color: white;
  text-align: center;
  line-height: 2.5em;
  border-radius: .2em;
  position: fixed;
  margin: 0 5% 0 5%;
  padding: .2em 0;
  top: 4.2em;
  display: none;
}

.main-nav .nav-links a {
  color: var(--dark-blue);
}

.main-nav .nav-links.mobile-menu-action {
  display: block;
}

.main-nav .ctabtn {
  display: none;
}

.hero-container .hero-graphic-mobile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 410px;
  left: 0;
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: center -50%;
  background-size: 100% 100%;
  z-index: -2;
}

@media (max-width: 335px) {
  .hero-container .hero-graphic-mobile::before {
    height: 390px;
  }
}

.hero-graphic-mobile img {
  position: absolute;
  top: -60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  height: auto;
  max-height: 413px;
  width: 90%;
  max-width: 337.5px;
  z-index: -1;
}

@media (max-width: 374px) {
  .hero-graphic-mobile img {
    width: 100%;
  }
}

.hero-left {
  padding: 330px 1.5em 3em 1.5em;
}

.hero-left h1 {
  padding-top: 5px;
  font-size: 2.1em;
  margin-bottom: 20px;
}

.hero-left p {
  margin: 1em 0 2em 0;
}

@media (max-width: 335px) {
  .hero-left {
    padding: 310px 1em 0 1em;
  }
}

.features .features-container {
  background: var(--light-gray-blue);
  padding: 2em 1.5em;
}

.features .features-container h2 {
  font-size: 1.7em;
}

.features .features-container .features-cards {
  padding-top: 1em;
}

.features .features-container .features-cards img {
  padding-top: 1em;
}

.articles {
  padding: 4em 1.5em;
  background: var(--very-light-gray);
}

.articles h2 {
  font-size: 1.8em;
}

.articles .article-card {
  border-radius: .3em;
  overflow: hidden;
  text-align: left;
  background: white;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  max-width: 533px;
  margin: auto;
}

.articles .article-card p, .articles .article-card h3 {
  margin: .5rem 1.5rem 0 1.5rem;
}

.articles .article-card .article-author {
  font-size: .6em;
  margin-top: 1.5rem;
}

.articles .article-card .img-container img {
  width: 100%;
  max-width: 533px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.articles .article-card h3 {
  letter-spacing: -.02em;
  font-size: .96em;
}

.articles .article-card h3 a {
  color: var(--dark-blue);
}

.articles .article-card h3 a:hover {
  color: var(--lime-green);
}

.articles .article-card .article-section {
  font-size: .8rem;
  line-height: 1.2rem;
}

footer {
  background: var(--dark-blue);
  padding-bottom: .5em;
}

footer .footer-logo {
  width: 150px;
  padding: 2.5rem 0;
}

footer .f-icon {
  margin: 0 0.35em .5em 0.35em;
}

footer .f-icon:hover path {
  fill: var(--lime-green);
}

footer .ul-left ul {
  margin: 1em 0 0 0;
}

footer .ul-right ul {
  margin: 0 0 1em 0;
}

footer ul {
  font-size: .9rem;
  line-height: 2.2rem;
}

footer ul a {
  color: var(--light-gray-blue);
}

footer button {
  margin: .8rem 0;
}

footer .attribution {
  color: var(--grayish-blue);
  font-size: .8rem;
}

footer .attribution a {
  color: var(--light-gray-blue);
}

@media (min-width: 588px) {
  p {
    display: block;
    margin: auto;
    max-width: 534px;
  }
  .hero-left p, h1 {
    margin: 1em auto 2em auto;
    max-width: 534px;
  }
  body {
    font-size: 130%;
  }
}

@media (min-width: 1020px) {
  .hero-container .hero-graphic-mobile {
    display: none;
  }
  header {
    z-index: 1000;
  }
  .main-nav {
    margin: 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: 5rem;
  }
  .main-nav .nav-links {
    display: block;
    position: static;
    width: auto;
    height: auto;
    line-height: normal;
    border-radius: 0;
    margin: 0 auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0;
  }
  .main-nav .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 100%;
  }
  .main-nav .nav-links ul li {
    padding: 0 1rem;
    height: 100%;
  }
  .main-nav .nav-links ul li .link-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none;
    position: relative;
  }
  .main-nav .nav-links ul li .link-container::before {
    content: "";
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0;
    height: 4px;
    background: -webkit-gradient(linear, left top, right top, from(var(--lime-green)), to(var(--bright-cyan)));
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  }
  .main-nav .nav-links ul li .link-container:hover:before {
    display: inline-block;
  }
  .main-nav .nav-links ul li a {
    color: var(--grayish-blue);
    font-size: 1rem;
    pointer-events: auto;
  }
  .main-nav .nav-links ul li a:hover {
    color: var(--dark-blue);
  }
  .main-nav .ctabtn {
    display: block;
  }
  .main-nav .ctabtn button {
    padding: 1em 2.5em;
  }
  .main-nav .mobile-head {
    display: block;
    width: auto;
    height: auto;
  }
  .main-nav .mobile-head #hamburger-menu {
    display: none;
  }
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--very-light-gray);
    padding: 200px 4rem 180px 4rem;
  }
  .hero-left {
    padding: 0;
    width: 49%;
    margin: 0;
    text-align: left;
  }
  .hero-left h1, .hero-left p {
    margin: 2rem 0 0 0;
  }
  .hero-left h1 {
    font-size: 3.6rem;
  }
  .hero-left p {
    font-size: 1.2rem;
    margin-right: 5.8em;
  }
  .hero-left button {
    margin: 2em 0 0 0;
  }
  .hero-right {
    overflow: hidden;
  }
  .hero-container .hero-right::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 830px;
    top: -80px;
    right: 0;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 150% 120%;
    z-index: 0;
  }
  .hero-container .hero-right::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 960px;
    top: 0px;
    right: 0px;
    background-image: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 70px -50px;
    background-size: cover;
    z-index: 0;
  }
  .features-container {
    padding: 2em 0;
  }
  .features-top {
    padding: 2rem 4rem;
    text-align: left;
  }
  .features-top h2 {
    font-size: 2em;
    margin-bottom: 0.6em;
  }
  .features-top p {
    margin: 0;
    max-width: none;
    width: 65%;
    font-size: 1em;
  }
  .features-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    padding: 2rem 4rem 1em 4rem;
  }
  .features-cards .card {
    width: 25%;
    height: auto;
    max-width: 300px;
    margin: 0 .5em;
    padding-bottom: 2em;
  }
  .features-cards .card img {
    padding-bottom: 1em;
  }
  .articles {
    padding: 3em 4rem 6rem 4rem;
  }
  .articles .articles-container h2 {
    font-size: 2.8rem;
    text-align: left;
  }
  .articles .articles-container .article-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .articles .articles-container .article-flex .article-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 .6em;
  }
  .footnav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4rem 1em 4rem;
  }
  .footnav-container .btn-copy-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-width: 220px;
  }
  .footnav-container .btn-copy-wrap .cta-btn {
    margin-top: 3.5em;
    margin-bottom: 0;
  }
  .footnav-container .btn-copy-wrap .copyright-info {
    font-size: .7em;
    margin: 1em 0 1em 0;
    text-align: right;
  }
  .footer-flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 85%;
  }
  .logo-social-wrap {
    margin-right: 6em;
  }
  .logo-social-wrap .social-container {
    padding-left: .6em;
  }
  .logo-social-wrap svg {
    width: 20px;
    height: 20px;
    margin: 0 .25em 0 .25em;
  }
  footer .ul-left {
    margin-right: 4em;
  }
  footer .ul-left ul {
    margin: 0;
    text-align: left;
  }
  footer .ul-right {
    margin-right: 4em;
  }
  footer .ul-right ul {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .main-nav {
    margin: 0 8rem;
  }
  .hero-container {
    padding: 200px 8rem 180px 8rem;
  }
  .features-container {
    padding: 2em 0;
  }
  .features-top {
    padding: 2rem 8rem;
  }
  .features-cards {
    padding: 0 8rem;
  }
  .articles {
    padding: 3em 8rem 6em 8rem;
  }
  .footnav-container {
    padding: 0 8rem 1em 8rem;
  }
  footer .ul-left {
    margin-right: 6em;
  }
  footer .ul-right {
    margin-right: 6em;
  }
}

@media (min-width: 1550px) {
  .hero-container .hero-right::after {
    width: 40%;
    background-position: 0px -50px;
  }
}

@media (min-width: 1610px) {
  .hero-container .hero-right::after {
    width: 32%;
    background-position: -15px -50px;
  }
  .hero-container .hero-right::before {
    width: 45%;
  }
  .main-nav {
    margin: 0 13rem;
  }
  .hero-container {
    padding: 200px 13rem 180px 13rem;
  }
  .features-container {
    padding: 2em 0;
  }
  .features-top {
    padding: 2rem 13rem;
  }
  .features-cards {
    padding: 0 13rem;
  }
  .articles {
    padding: 3em 13rem 6em 13rem;
  }
  .articles .articles-container .article-flex .article-card {
    margin: 0 1em;
  }
  .footnav-container {
    padding: 0 13rem 1em 13rem;
  }
  footer .ul-left {
    margin-right: 8em;
  }
  footer .ul-right {
    margin-right: 8em;
  }
}

@media (min-width: 1610px) {
  .main-nav {
    margin: 0 18rem;
  }
  .hero-container {
    padding: 200px 18rem 180px 18rem;
  }
  .features-container {
    padding: 2em 0;
  }
  .features-top {
    padding: 2rem 18rem;
  }
  .features-cards {
    padding: 0 18rem;
  }
  .articles {
    padding: 3em 18rem 6em 18rem;
  }
  .articles .articles-container .article-flex .article-card {
    margin: 0 1em;
  }
  .footnav-container {
    padding: 0 18rem 1em 13rem;
  }
  footer .ul-left {
    margin-right: 10em;
  }
  footer .ul-right {
    margin-right: 10em;
  }
}

@media (min-width: 2200px) {
  .articles .article-card .img-container img {
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */